.nav-row-1{
    background-color: #153980;
    color: white;
    font-size: 14px;
    height: 30px;
    padding-top: 3px;
}
.nav-menu{
    background-color: #22B24C;
    border: none;
}
.img-row-1{
    width: 17px;
    height: 15px;
}
.nav-row-2{
    height: 70px;
}
.btn-row button {
    font-size: 11px;
    background-color: #22B24C;
    margin: 0px 3px;
    height: 70px;
    width: 82px;
    color: white;
    border: none;
}
.btn-row button:hover {
    transition: 0.8s;
    background-color:#153980 ;
}
.img-row-2{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 45px;
    height: 42px;
}
