
.t-color{
    background-color: #22B24C !important;
    color: white !important;

}
.download-btn{
height: 30px;
    background-color: #22B24C;
    color: white;
    transition: 1s;
}
.download-btn:hover{
    background-color: #153980;
    color: white;
}
