.news-panel {
    height: 335px;
    width: 80%;
    margin: 25px auto;
    border: solid 1px rgba(34, 178, 76, 0.3);
}

.mid-container {
    color: #153980;
}

.box {
    height: 105px;
    width: 235px;
    background-color: #F8F8F8;
}

.box i {
    font-size: 50px;
}

.box p {
    font-size: 16px;
}

@media (min-width: 768px) {
    .news-panel {
        margin: 25px 0;
    }
}