.login-page{
    background-color: #176E9B;
    font-family: Arial;
    background-image: url(../assets/background.png);
    background-size: contain;
}
.login-box{
    background-color: #D6E7E7;
    box-shadow: 10px 10px #455A62;
    width: 330px;
    height: 500px;
}

.login-logo img{
    width: auto;
    height: 85px;
}
.login-welcome p{
    color:  #0DB14B;
    font-size: 20px;
}
.login-text{
font-size: 13px;
}
.user-pass input{
    height: 35px;
    width: 315px;
    border: none;

}
.login-test input{
    height: 43px;
}
.login-clue{
    color:  #FF0000;   
}
.login-btn button{
    height: 35px;
    width: 310px;
    background-color:  #0DB14B;
    border: none;
    box-shadow: 3px 3px #338473;
}
.login-btn button:hover{
    background-color:  #338473;
    box-shadow: 3px 3px #338473;
}
.bottom-text{
    color: #8B0000;
}